<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row" style="text-align: center">
    <h3>{{ 'title' | translate}}</h3>
  </div>

  <div class="row">
    <div>
      <p-dropdown [options]="languages" [(ngModel)]="language" placeholder="Select a language" optionLabel="label"></p-dropdown>
      <p>{{ 'select' | translate}} : {{language ? language.label : 'none'}}</p>
      <p-button label="Change" styleClass="ui-button-success" (onClick)="changeLanguage()"></p-button>
      <br>
      <h1>{{ 'text' | translate}}</h1>
    </div>
  </div>
</div>
