<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>
        Welcome to my template!
      </h1>
      <div class="logo"></div>
    </div>

    <div class="col-sm">
      <ul>
        <li>
          <h2>
            <a>Test</a>
            <button type="button" class="btn btn-success">Change</button>
          </h2>
        </li>
        <li>
          <h2>
            <a>Documentation</a>
          </h2>
        </li>
        <li>
          <h2>
            <a></a>
          </h2>
        </li>
      </ul>
    </div>

  </div>

</div>
